@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my application</h1>
    <p>This web app give has user roles enabled where there is admin and users,</p>
    <p>Admin can controll other user contents but uers can not</p>
</div>
